/* ----- GENERAL ELEMENTS ----- */
body {
    background-image: url("assets/splotch-pattern.png");
    padding-top: 50px;
    background-repeat: repeat;
}

h3 {
    font-family: 'Courier Prime', monospace;
    font-size: 20px;
    text-align: center;
    word-wrap: break-word;
    margin-top: 5px;
}

h4 {
    font-family: 'Courier Prime', cursive;
    font-size: 20px; 
}

/* ----- BUTTONS ----- */
.red-btn {
    background-color: #ed1a38;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    font-size: 18px;
    padding: 2px 10px 5px 10px;
}

.red-btn:active {
    background-color: white;
    color: #ed1a38;
}

.red-btn:hover {
    background-color: black;
}

.restart {
    text-align: center;
    margin-top: 25px;
    border: none;
    background-color: white;
    padding: 8px 10px 5px 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    color: #ed1a38;
    letter-spacing: 1px;
    display: block;
    margin: 25px auto 15px auto;
    position: relative;
    z-index: 3;
}

.restart:active {
    background-color: #ed1a38;
    color: white;
}

#submit-answer-btn {
    background-color: #ed1a38;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    font-size: 18px;
    padding: 2px 10px 5px 10px;
}

#submit-answer-btn:active {
    background-color: white;
    color: #ed1a38;
} 

/* ---- PAPER/MAIN CONTENT CONTAINER ----- */
.container {
    text-align: center;
    background-image: url('assets/paper.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 600px;
}

.content-wrapper {
    padding-top: 65px;
    max-width: 650px;
    margin: auto;
}

.question-count {
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
}

/* ----- POST-IT CONTAINER/QUIZ QUESTIONS ----- */
.post-it-container {
    background-image: url('assets/pink-post-it.png');
    text-align: center;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 350px;
    max-width: 350px;
    padding: 10px 20px;
    margin: auto;
}

#question {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    margin-bottom: 0;
}

.answer-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.answer-container {
    text-align: left;
}

.text-container {
    padding: 15px;
}

label {
    color: black;
    font-family: 'Courier Prime', monospace;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
    border: 2px solid #ed1a38;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:after {
    background-color: #ed1a38;
}

[type="radio"]:not(:checked)+span:before,
[type="radio"]:not(:checked)+span:after {
    border: 2px solid black;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* ----- RESULT ELEMENTS ----- */
.relative-div-anchor {
    position: relative;
    width: 100%;
    text-align: center;
}

.result-wrapper {
    position: absolute;
    top: 250px;
    width: 100%;
    text-align: center;
}

.dinner-and-movie {
    font-family: 'Courier Prime', cursive;
    font-size: 20px;
    max-width: 100px;
    position: relative;
    z-index: 2;
    margin: auto;
}

.empty-col {
    width: 15%;
    display: inline-block;
}

.movie-column {
    background-image: url('./assets/marquee-cropped.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 750px; 
    width: 400px;
    background-position: left top;
    font-family: 'Courier Prime', cursive;
    color: white;
    position: relative;
}

.movie-info-wrapper {
    position: absolute;
    padding: 30px 58px; 
}

.movie-column img {
    height: auto;
    width: 45%;
}

.overview-container {
    overflow: scroll;
    max-height: 250px;
}

.recipe-column {
    background-image: url('assets/recipes-w-photo.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 750px;
    width: 400px;
    display: inline-block;
    font-family: 'Courier Prime', cursive;
    position: relative;
}

.recipe-info-wrapper {
    position: absolute;
    max-width: 400px;
    padding-top: 35px;
    padding-left: 15px;
    padding-right: 15px; 
}

.recipe-column img {
    height: auto;
    width: 45%;
    margin-bottom: 30px;
}

.recipe-column a {
    color: black;
}

.ingredients-title {
    text-decoration: underline;
}

.ingredients-container {
    max-height: 190px;
    text-align: justify;
    padding: 10px 20px;
    overflow: scroll;
}

/* ----- MEDIA QUERIES ----- */
@media (max-width: 950px) {
    .dinner-and-movie {
        max-width: 100%;
    }

    .empty-col {
        width: 0px;
    }

    .result-wrapper {
        top: 360px;
    }
}

@media (max-width: 400px) {
    .movie-column {
        width: 340px;
        height: 700px;
    }

    .recipe-column {
        width: 340px;
        height: 700px;
    }

    .recipe-info-wrapper {
        width: 340px;
        padding-top: 30px;
    }

    .ingredients-container {
        max-height: 140px;
    }

    .overview-container {
        max-height: 225px;
    }
}

@media (max-width: 340px) {
    .movie-column {
        width: 320px;
        height: 680px;
    }

    .recipe-column {
        width: 320px;
        height: 680px;
    }

    .recipe-info-wrapper {
        width: 320px;
    }

    .ingredients-container {
        max-height: 120px;
    }

}

@media (min-width: 1150px) {
    .container {
        background-size: contain;
    }
}

@media (max-width: 600px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 500px) {
    #logo {
        width: 310px;
        height: 100px;
    }
}

@media (max-width: 350px) {
    #logo {
        width: 280px;
        height: 90px;
    }
}

/* ----- GENERAL CLASS STYLES ----- */
.hidden {
    display: none;
}